@using Database_Movie.EF
@model Group
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <strong>Cập nhật</strong> Nhóm quyền
    </div>
    <form asp-action="Edit" asp-controller="Group" method="post" class="form-horizontal">
        <input type="hidden" asp-for="GroupId"/>
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="Name" class=" form-control-label">Tên nhóm</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" asp-for="Name" placeholder="Vui lòng nhập tên nhóm" class="form-control" required>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </form>
</div>

