<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/web/movie-template/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/nouislider.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/plyr.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/photoswipe.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/default-skin.css">
    <link rel="stylesheet" href="/assets/web/movie-template/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/assets/web/movie-template/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

    @await Html.PartialAsync("_HeaderBarPartial")

    <!-- content -->
    @RenderBody()
    <!-- end content -->
    

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title">Download Our App</h6>
                    <ul class="footer__app">
                        <li><a href="#"><img src="/assets/web/movie-template/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                        <li><a href="#"><img src="/assets/web/movie-template/img/google-play-badge.png" alt=""></a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Resources</h6>
                    <ul class="footer__list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contact</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
                        <li><a href="mailto:support@moviego.com">support@flixgo.com</a></li>
                    </ul>
                    <ul class="footer__social">
                        <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer copyright -->
                <div class="col-12">
                    <div class="footer__copyright">
                        <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end footer copyright -->
            </div>
        </div>
    </footer>

    <!-- end footer -->
    <!-- JS -->
    <script src="/assets/web/movie-template/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/web/movie-template/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/web/movie-template/js/owl.carousel.min.js"></script>
    <script src="/assets/web/movie-template/js/jquery.mousewheel.min.js"></script>
    <script src="/assets/web/movie-template/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/assets/web/movie-template/js/wNumb.js"></script>
    <script src="/assets/web/movie-template/js/nouislider.min.js"></script>
    <script src="/assets/web/movie-template/js/plyr.min.js"></script>
    <script src="/assets/web/movie-template/js/jquery.morelines.min.js"></script>
    <script src="/assets/web/movie-template/js/photoswipe.min.js"></script>
    <script src="/assets/web/movie-template/js/photoswipe-ui-default.min.js"></script>
    <script src="/assets/web/movie-template/js/main.js"></script>
    
</body>

</html>