<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/assets/admin/images/icon/logo-blue.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <i>ADMIN - ONEMOVIE</i>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Movie">
                        <i class="fas fa-chart-bar"></i>Phim
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="fas fa-table"></i>Thể loại
                    </a>
                </li>
                <li>
                    <a href="map.html">
                        <i class="fas fa-map-marker-alt"></i>Tin tức
                    </a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-check-square"></i>Quốc gia
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Group">
                        <i class="fas fa-calendar-alt"></i>Nhóm quyền
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Người dùng
                    </a>
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Khác
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Phân quyền</a>
                        </li>
                        <li>
                            <a href="index2.html">Banner</a>
                        </li>
                        <li>
                            <a href="index3.html">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="index4.html">Liên hệ</a>
                        </li>
                        <li>
                            <a href="index4.html">Quảng cáo</a>
                        </li>
                        <li>
                            <a href="index4.html">Thư góp ý</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>